# presentation tools
jupyterlab==4.2.5
jupyterlab-rise==0.42.0
jupyterlab_code_formatter==2.2.1
jupyterlab-execute-time==3.1.2
jupyterlab-search-replace==1.1.0
diagrams==0.23.4

# core libraries
numba==0.59.1                                              # required for python 3.11 support
numpy==1.26.4
pandas[consortium-standard, parquet, performance]==2.2.1
polars[pandas, pyarrow]==0.20.16
pyarrow==15.0.2
tdqm==0.0.1
# supporting libraries
black[jupyter]
Faker==24.3.0
isort==5.13.2
matplotlib==3.8.3
pre-commit>=3.6.2
psutil

# QR code
qrcode[pil]==7.4.2
